{% extends "register.html" %}
{% block title %}UCC Member Home{% endblock %}
{% block content_title %}
    <h1>Member home</h1>
    <h3>Welcome, {{ request.member.first_name }} {{ request.member.last_name }} ({{ request.member.username }})</h3>
{% endblock %}

{% block tips %}
{% if not object %}
<b>You have no member record associated with this account.</b><br>
Please <a href="{% url 'memberdb:renew' %}">renew your membership</a> to get started.
{% else %}
You can see and modify some of your membership and account details below.
{% endif %}
{% endblock %}

{% block extra_preform %}
<div class="form-row readonly">
    <label for="id_username">Username:</label>
    <span class="text" id="id_username">{{ object.username }}</span>
</div>
{% endblock %}

{% block form %}
{% if object %} {{ block.super }} {% endif %}
{% endblock %}

{% block action_url %}{% url 'memberdb:home' %}{% endblock %}

{% block action_text %}Update details{% endblock %}
