{% extends "base_form.html" %}
{% load static %}
{% block title %}UCC Member Home{% endblock %}
{% block content_title %}
    <h1>Member home</h1>
    {% if request.member %}
    <h3>Welcome, {{ request.member.first_name }} {{ request.member.last_name }} (<code>{{ request.member.username }}</code>)</h3>
    {% else %}
    <h3>Welcome, {{ request.user.first_name }} {{ request.user.last_name }} (<code>{{ request.user.username }}</code>)</h3>
    {% endif %}
{% endblock %}

{% block tips %}
{% if not request.member %}
    {% if request.user.is_authenticated %}
    <b>You have no member record associated with this account.</b><br>
    Please <a href="{% url 'memberdb:renew' %}">renew your membership</a> to get started.
    {% else %}
    <b>Something went wrong and your membership details could not be retrieved.</b> Please try <a href="{% url 'memberdb:login' %}">logging in</a>.
    {% endif %}
{% else %}
    You can see and modify some of your membership and account details below.
{% endif %}
{% endblock %}

{% block extra_preform %}
<div class="form-row">
    {% include 'membership_summary.html' %}
</div>
<div class="form-row">
    <h4>Membership renewals on record</h4>
    <!-- stuff from the membership record itself -->
    {% if memberships %}
    <table class="membership-details">
        <tr class="{% cycle 'row1' 'row2' as rcl %}">
            <th>Membership type</th>
            <th>Submitted</th>
            <th>Paid</th>
            <th>Approved</th>
            <th>Actions</th>
        </tr>
        {% for ms in memberships %}
        <tr class="{% cycle rcl %}">
            <td>
                {{ ms.type }}
            </td>
            <td>
                {{ ms.submitted }}
            </td>
            <td>
                {% if ms.paid %}
                <img src="{% static 'admin/img/icon-yes.svg' %}" alt="yes">&nbsp; {{ ms.paid }}
                {% else %}
                <img src="{% static 'admin/img/icon-no.svg' %}" alt="no">&nbsp; Not paid yet
                {% endif %}
            </td>
            <td>
                {% if ms.approved and ms.is_approved %}
                <img src="{% static 'admin/img/icon-yes.svg' %}" alt="yes">&nbsp; {{ ms.approved }}
                {% elif ms.approved and not ms.is_approved %}
                <img src="{% static 'admin/img/icon-no.svg' %}" alt="no">&nbsp; Rejected: {{ ms.approved }}
                {% else %}
                <img src="{% static 'admin/img/icon-unknown.svg' %}" alt="?">&nbsp; Not approved yet
                {% endif %}
            </td>
            <td>
                <!-- membership actions -->
                {% if not ms.paid %}<a class="button" href="{% url 'squarepay:pay_membership' ms.id %}">Pay now</a>{% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    No membership renewal records for your account exist yet. Please <a href="{% url 'memberdb:renew' %}">renew your membership</a> to get started.
    {% endif %}
</div>
<br>
{% endblock %}

{% block form %}
{% if object %} {{ block.super }} {% endif %}
{% endblock %}

{% block postform %}
<div class="form-row">
<p class="help">To update your other membership details, please talk to a door or committee member.</p>
</div>
{% endblock %}

{% block action_url %}{% url 'memberdb:home' %}{% endblock %}

{% block action_text %}Update details{% endblock %}
