{# this template is used by the admin membership renewal page and member homepage #}
{% load static %}
{% block header1 %}
<h4>Current member details</h4>
{% endblock %}
{% block member_details %}
<!-- try to display only the details which aren't editable on member home page -->
<table class="member-details">
    {% block name %}
    <tr class="{% cycle 'row1' 'row2' as rcl %}">
        <th>Real name</th>
        <td><b>{{ member.first_name }} {{ member.last_name }}</b></td>
    </tr>
    <tr class="{% cycle rcl %}">
        <th>Username &amp; display name</th>
        <td><b>{{ member.username }}</b> ({{ member.display_name }})</td>
    </tr>
    {% endblock %}

    {% block email %}
    <tr class="{% cycle rcl %}">
        <th>Contact email</th>
        <td>
        {% if member.email_address %}
            <a href="mailto:{{ member.email_address }}">{{ member.email_address }}</a>
        {% else %}
            <i>not provided</i>
        {% endif %}
        </td>
    </tr>
    {% endblock %}

    {% block phone %}
    <tr class="{% cycle rcl %}">
        <th>Phone number</th>
        <td>{% if member.phone_number %}{{ member.phone_number }}{% else %}<i>not provided</i>{% endif %}</td>
    </tr>
    {% endblock %}

    {% block student %}
    <tr class="{% cycle rcl %}">
        <th>Is student</th>
        <td>{% if member.is_student %}<img src="{% static 'admin/img/icon-yes.svg' %}" alt="yes">{% else %}<img src="{% static 'admin/img/icon-no.svg' %}" alt="no">{% endif %}</td>
    </tr>
    <tr class="{% cycle rcl %}">
        <th>Is UWA Guild</th>
        <td>{% if member.is_guild %}<img src="{% static 'admin/img/icon-yes.svg' %}" alt="yes">{% else %}<img src="{% static 'admin/img/icon-no.svg' %}" alt="no">{% endif %}</td>
    </tr>
    <tr class="{% cycle rcl %}">
        <th>Student number or Other ID</th>
        <td>{% if member.id_number %}{{ member.id_number }}{% else %}<i>not provided</i>{% endif %}</td>
    </tr>
    <tr class="{% cycle rcl %}">
        <th>ID type</th>
        <td>{% if member.id_desc %}{{ member.id_desc }}{% else %}<i>not provided</i>{% endif %}</td>
    </tr>
    {% endblock %}
</table>
{% endblock %}
