{% extends "base_form.html" %}
{% block title %}UCC Membership Renewal{% endblock %}
{% block content_title %}
	<h1>Renew your membership for {{ year }}</h1>
{% endblock %}

{% block tips %}
{% if is_new %}
<b>Your account exists already but no membership information has yet been recorded in this system.</b>
<br>Please update/correct the details below as necessary. Some have probably been filled for you.
{% else %}
	{% if last_renewal == year %}
		You have already submitted a membership renewal for {{ year }}. You may update your details below if they have changed, although any changes you make will need to be approved.
	{% else %}
		Please confirm that the details below have not changed since your last registration or membership renewal.
	{% endif %}
{% endif %}
{% endblock %}

{% block extra_preform %}
{% if memberships and last_renewal == year %}
<div class="form-row">
	{% include 'membership_list.html' %}
</div>
{% endif %}
<div class="form-row readonly">
	<label for="id_username">Username:</label>
	<span class="text" id="id_username">{{ request.user.username }}</span>
</div>
{% endblock %}

{% block action_url %}{% url 'memberdb:renew' %}{% endblock %}

{% block action_text %}{% if last_renewal == year %}Save &amp; Update{% else %}Renew{% endif %}{% endblock %}
