{% extends "base.html" %}

{% block content_title %}
<h1>Thanks!</h1>
{% endblock %}

{% block content %}
<h3>
    Use <a href="{{ login_url }}">this link</a> to access <i>Member Home</i> to see and edit your details, and to pay online for your membership.
</h3>
<p>
Once your registration has been approved, you will receive an email with instructions to activate your account. If you signed up as a student, this information will be sent to the student email address that you provided.
</p>
<p>
{% if request.user.is_authenticated %} <!-- the user is currently logged in, so they may have dispense credit -->
You can either pay online now using your existing dispense credit or using a credit/debit card by going to <a href="{{ login_url }}">Member Home</a>, or you can pay in person later.
{% else %} <!-- the user isn't logged in, but they can still pay -->
You can pay online now with a credit/debit card by going to <a href="{{ login_url }}">Member Home</a>.
{% endif %}
</p>
{% endblock %}
