{% extends "base.html" %}
{% load static %}

{% block title %}UCC Payment Gateway{% endblock %}

{% block extrahead %}
<!-- link to the SqPaymentForm library -->
<script type="text/javascript" src="https://js.squareup.com/v2/paymentform"></script>

{# bring the location IDs into javascript so the next bits know about them #}
<script type="text/javascript"> 
var applicationId = "{{ app_id }}";
var locationId = "{{ loc_id }}";
var amount = {{ payment.amount }};
</script>

<script type="text/javascript" src="{% static 'squarepay.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'squarepay.css' %}">
{% endblock %}


{% block content_title %}<h1>Checkout</h1>{% endblock %}
{% block content %}
<div class="form-container text-center">
    <div class="form-header">
        <span class="tips {% if payment.is_paid %}error{% endif %}">{% block tips %}
        {% if payment.is_paid %}
            <p><b>It appears you have already successfully attempted this payment.</b>
            {% if payment.completed_url %}
                <br><br>Perhaps you were meaning to find <a href="{{ payment.completed_url }}">this page</a>.
            {% endif %}</p>
        {% else %}
            <b><i>Please fill in your card details below.</i></b>
        {% endif %}
        {% endblock %}</span>

        <noscript>
            <span class="tips error">Please enable javascript to use the payment form.</span>
        </noscript>
    </div>
    <div class="float-container">
        <div class="payment-info">
            <div class="form-row readonly">
                <label for="id_desc">Item:</label>
                <span class="text" id="id_desc">{{ object.description }}</span>
            </div>
            <div class="form-row readonly">
                <label for="id_amount">Amount:</label>
                <span class="text" id="id_amount">{{ amount }}</span>
            </div>
        </div>
        <!-- the element #form-container is used to create the Square payment form (hardcoded) -->
        <div id="form-container" class="payment-info">
            <div id="sq-ccbox">
                <form id="nonce-form" novalidate action="#" method="post">
                {% csrf_token %}
                <div id="error"></div>

                <fieldset>
                    <div class="form-row">
                        <span class="label">Card Number</span>
                        <div id="sq-card-number"></div>
                    </div>

                    <div class="form-row">
                        <div class="half">
                        <span class="label">Expiration</span>
                        <div id="sq-expiration-date"></div>
                        </div>

                        <div class="half">
                        <span class="label">CVV</span>
                        <div id="sq-cvv"></div>
                        </div>
                    </div>
                </fieldset>
                <button id="sq-creditcard" class="button-credit-card" onclick="requestCardNonce(event)" disabled>Pay {{ amount }}</button>

                <!-- after a nonce is generated it will be assigned to this hidden input field -->
                <input type="hidden" id="card-nonce" name="nonce">
                </form>
            </div> <!-- end #sq-ccbox -->
        </div> <!-- end #form-container -->
    </div>
</div>
</div>
{% endblock %}
