{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% static "shared.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "main.css" %}">
<link rel="shortcut icon" type="image/png" href="{% static 'ucc-logo.png' %}"/>
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
</head>

<body>

<!-- Container -->
<div id="container">

    <!-- Header -->
    <div id="header">
        {% block header %}{% endblock %}
    
        {% block navbar %}
        <nav>
            {% block branding %}
            <a class="logo" href="https://ucc.asn.au"></a>
            {% endblock %}
            
            {# fancy automatic navbar thing from https://stackoverflow.com/questions/39639264 #}
            {% with url_name=request.resolver_match.url_name %}
            {% if not request.user.is_authenticated %}
            <a class="navtab {% if url_name == 'home' %}active{% endif %}" href="{% url "memberdb:home" %}">Login</a>
            <a class="navtab {% if url_name == 'register' %}active{% endif %}" href="{% url "memberdb:register" %}">Register</a>
            {% else %}
            <a class="navtab {% if url_name == 'home' %}active{% endif %}" href="{% url "memberdb:home" %}">Member home</a>
            <a class="navtab {% if url_name == 'renew' %}active{% endif %}" href="{% url "memberdb:renew" %}">Renew membership</a>
            {% endif %}
            {% if request.user.is_staff %}
            <a class="navtab" href="{% url "admin:index" %}">Admin site</a>
            {% endif %}
            {% endwith %}
        </nav>
        {% endblock %}
    </div>
    <!-- END Header -->

    <!-- Content -->
    <div id="content">
        {% block content_title %}{% endblock %}
        {% block content %}
        {% endblock %}
    </div>
    <!-- END Content -->

    <!-- Footer -->
    {% block footer %}
    <div id="footer">
        <p>
            The University Computer Club Inc.
            ABN: 98 843 368 069
        </p>
    </div>
    {% endblock %}
    <!-- END Footer -->    
</div>
<!-- END Container -->

</body>
</html>
