{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- MemberDB base template -->
    <title>{% block title %}UCC MemberDB{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'ucc-logo.png' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "memberdb.css" %}">
    {% block prestyle %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static "shared.css" %}">
    {% block extrahead %}{% endblock %}
    {% block extrastyle %}{% endblock %}
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
</head>

<body {% block bodyattrs %}{% endblock %}>

<!-- Container -->
<div id="container">

    {% block header_div %}<!-- Header -->
    <div id="header">
        {% block navbar %}
        <nav>
            {% block branding %}
            <a class="logo" title="UCCPortal homepage">
                <span></span>
            </a>
            {% endblock %}
            
            {# fancy automatic navbar thing from https://stackoverflow.com/questions/39639264 #}
            {% with url_name=request.resolver_match.url_name %}
            {% if request.member %}
            <a class="navtab {% if url_name == 'home' %}active{% endif %}" href="{% url "memberdb:home" %}">Member home</a>
            {% else %}
            <a class="navtab {% if url_name == 'register' %}active{% endif %}" href="{% url "memberdb:register" %}">Register</a>
            {% endif %}

            {% if not request.user.is_authenticated %}
            <a class="navtab {% if url_name == 'login' %}active{% endif %}" href="{% url "memberdb:login" %}">Login</a>
            {% else %}
            <a class="navtab {% if url_name == 'renew' %}active{% endif %}" href="{% url "memberdb:renew" %}">Renew membership</a>
            {% if request.user.is_staff %}
            <a class="navtab {% block adminactive %}{% endblock %}" href="{% url "admin:index" %}">Admin site</a>
            {% endif %}
            <a class="navtab {% if url_name == 'logout' %}active{% endif %}" href="{% url "memberdb:logout" %}">Logout</a>
            {% endif %}
            {% endwith %}
        </nav>
        {% endblock %}

        {% block header %}{% endblock %}
        
    </div>
    {% endblock %}<!-- END Header -->
    {% block breadcrumbs %}{% endblock %}
    {% block messages %}{% if messages %}
    <ul class="messagelist">{% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
    {% endfor %}</ul>
    {% endif %}{% endblock messages %}

    <!-- Content -->
    <div id="content">
        {% block pretitle %}{% endblock %}
        {% block content_title %}<h1></h1>{% endblock %}
        {% block content %}
        {% endblock %}
        <!-- sidebar -->
        {% block sidebar %}{% endblock %}
        <br class="clear">
    </div>
    <!-- END Content -->

    <!-- Footer -->
    {% block footer %}
    <div id="footer">
        <p>
            The University Computer Club Inc.
            ABN: 98 843 368 069
        </p>
        <div class="linkslist">
            <a href="https://www.ucc.asn.au">main website</a>&#8226;
            <a href="https://wiki.ucc.asn.au">UCC wiki</a>&#8226;
            <a href="https://www.ucc.asn.au/aboutucc/contact.ucc">contact us</a>&#8226;
            <a href="https://gitlab.ucc.asn.au/frekk/uccportal">source code</a>
        </div>
    </div>
    {% endblock %}
    <!-- END Footer -->    
</div>
<!-- END Container -->

</body>
</html>
