{% extends "base.html" %}
{% load static %}

{% block title %}UCC Member Login{% endblock %}

{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "login.css" %}">
{{ form.media }}
{% endblock %}

{% block content_title %}<h1>Login to MemberDB</h1>{% endblock %}

{% block content %}

<div class="form-container">

{% if form.errors and not form.non_field_errors %}
<p class="errornote">
{% if form.errors.items|length == 1 %}Please correct the error below.{% else %}Please correct the errors below.{% endif %}
</p>
{% endif %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}


<p class="tips">
{% if user.is_authenticated %}
    You are already logged in as {{ user.username }}.
    Would you like to login to a different account?
{% else %}
    <b>Please enter your UCC username and password below.</b> <br><br>
    If you do not have a UCC account yet, please apply for a membership by going to the <a href="{% url 'memberdb:register' %}">registration page</a>.
{% endif %}
</p>

<form action="{% url 'memberdb:login' %}" method="post" id="login-form">
  {% csrf_token %}
  <div class="form-row">
    {{ form.username.errors }}
    {{ form.username.label_tag }} {{ form.username }}
  </div>
  <div class="form-row">
    {{ form.password.errors }}
    {{ form.password.label_tag }} {{ form.password }}
    <input type="hidden" name="next" value="{{ next }}">
  </div>
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="Log in">
  </div>
</form>
</div>

{% endblock %}