#site-name {
    display: inline-block;
}

.logo {
    transform: rotate(45deg);
}

.logo:hover {
    animation: spin 0.5s linear infinite;
}

@keyframes spin { 100% { transform: rotate(360deg); } }

#branding h1 {
    float: left;
}

#content-related.wide {
    width: 400px;
    margin-right: -440px;
}

#header {
    padding: 0;
    height: auto;
}

#admin-header {
    padding: 0px 40px;
}

#admin-header, #container {
    overflow: auto;
}

.button {
    display: inline-block;
}

p, a {
    box-sizing: content-box;
}