html {
    height: 100%;
}

#content {
    width: 80%;
    margin: 0 10%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-container {
    background-color: #ffe;
    border: 2px solid #8fc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}

.form-header {
    text-align: center;
    /*padding: 10px 10px 20px 10px;*/
}

.form-header .tips {
    color: #333;
    font-weight: 400;
    font-size: 17px;
    border-radius: 10px;
    background-color: #feb;
    padding: 10px 10px 7px 10px;
    margin: 10px 10px 20px 10px;
    display: inline-block;
    text-align: center;
    line-height: 23px;
}

.form-header .tips.error {
    color: #000;
    background-color: rgb(255, 145, 0);
}

fieldset {
    border: none;
}

.form-row {
    margin: 10px 10px 20px 10px;
    overflow: auto;
}

.submit-row {
    margin: 10px;
    overflow: auto; /* stop parent div from collapsing when contents are floated */
}

.form-row label {
    font-weight: bold;
    display: inline;
}

/* style text boxes */
.form-row input[type="text"],
.form-row input[type="email"],
.form-row input[type="password"] {
    display: block;
    padding: 4px;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
}

.form-row input[type=checkbox],
.form-row.readonly .text {
    display: inline;
    font-size: 14px;
    line-height: 20px;
}

.form-row.readonly .text {
    font-size: 16px;
    padding-left: 10px;
    color: #444;
}

.help {
    margin: 0 40px;
}

.help a {
    color: #777;
}

ul.errorlist {
    list-style: none;
    background-color: #a33;
    color: white;
    padding: 10px 30px;
    margin: 30px 0 10px 0;
    font-weight: bold;
}

nav {
    background-color: #333;
    height: 60px;
}

.navtab {
    float: left;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 22px;
    font-variant-caps: all-petite-caps;
    font-weight: 400;
    line-height: 40px;
    padding: 10px 20px;
    border-left: 1.5px solid #555;
    background-color: #3c3c3c;
}

.navtab:hover, .navtab.active {
    color: #eee;
    background-color: black;
}

.navtab:last-child {
    border-right: 1.5px solid #555;
}