{% extends "base.html" %}
{% load static %}

{% block title %}UCC Payment Gateway{% endblock %}

{% block extrahead %}
<!-- link to the SqPaymentForm library -->
<script type="text/javascript" src="https://js.squareup.com/v2/paymentform"></script>

{# bring the location IDs into javascript so the next bits know about them #}
<script type="text/javascript">
var applicationId = "{{ app_id }}";
var locationId = "{{ loc_id }}";
var amount = {{ payment.amount }};
</script>

<script type="text/javascript" src="{% static 'squarepay.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'squarepay.css' %}">
{% endblock %}


{% block content_title %}<h1>Checkout</h1>{% endblock %}
{% block content %}
<div class="form-container text-center">
    <div class="form-header">
        <span class="tips">{% block tips %}<b></b>{% endblock %}</span>
        {% if payment.is_paid %}<span class="tips">
        <p><b>It appears you have already successfully attempted this payment.</b><br><br>
            Note that you will not be charged twice if even you submit again.</p>
        </span>{% endif %}
        <noscript>
            <span class="tips error">Please enable javascript to use the payment form.</span>
        </noscript>
    </div>
</div>
</div>
{% endblock %}
